button{
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid green;
}
button:hover{
    background-color: green;
    font-family: cursive;
    color: white;
    border: 2px dotted white;
}