<h2>My First Angular Application</h2>

<!-- <app-employee></app-employee> -->
<!-- <app-stringinterpolation></app-stringinterpolation> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->
<!-- <app-twowaybinding></app-twowaybinding> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-fordirective2></app-fordirective2> -->
<!-- <app-switchdirective></app-switchdirective> -->
<app-parent></app-parent>
