<p>demotdf works!</p>

<div class="container">
        <div class="row">
            <div class="col">

                <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
                    {{f.value| json}}
                <div class="form-group">

               
                    <label for="">Username::</label>
                    <input ngModel name="myusername" minlength="4" #username="ngModel" required pattern="admin"
                    type="text" class="form-control" placeholder="Enter the username">
                    
                    <div *ngIf="username.touched && !username.valid"
                    class="alert alert-danger">** Please Enter the Username
                        <div *ngIf="username.errors?.minlength"> ** Please enter the username minimum {{username.errors?.minlength?.requiredLength}} characters 
                        </div>                        
                        <div *ngIf="username.errors?.pattern">** Please Enter the appropriate pattern

                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label for="">Comment::</label>
                    <textarea ngModel name="comment" #comment="ngModel" required
                     class="form-control" placeholder="Enter the Comment." cols="30" rows="5">

                    </textarea>

                        <div *ngIf="comment.touched && comment.invalid"
                        class="alert alert-danger">** Please Enter the Comment

                        </div>

                </div>

                <div class="checkbox">
                    <label for="check1">
                      <input type="checkbox" id="check1"
                      ngModel name="issubscribed"  
                      #mail="ngModel" required> I Agree All the Terms & Conditions.
                    </label>  

                </div>  
                
                
                <div class="radio">
                    <label for="con0">
                      <input ngModel #contact="ngModel" 
                      type="radio" name="con" 
                      id="con0" value="email" required > Email
                    </label>
                  </div>
          
                <div class="radio">
                    <label for="con1">
                      <input ngModel #contact="ngModel" 
                      type="radio" name="con" 
                      id="con1" value="phone" required > Phone
                    </label> 
                  </div>

                  <div class="form-group">
                    <label for="country">Country</label>
                    <select ngModel name="country" 
                    id="country" class="form-control"   required>
         
                     <!-- <option *ngFor="let item of country" 
                     [value]="item.cid">{{item.cname}} </option> 
                   -->
                   <!-- <option value="" selected>Please select </option> -->
        
                      <option *ngFor="let item of country" 
                     [ngValue]="item">{{item.cname}} </option>
                             
                    </select> 
                  </div>
                
                  <div class="form-group">
                    <label for="myemail">Email Id</label>
                    <input ngModel #email="ngModel" type="email" name="email" 
                     id="myemail" class="form-control"                     
                    placeholder="Enter the Email ID...."                 
                    [pattern]="EMAIL_PATTERN"
                    required>                  
                    <div class="alert alert-danger" 
                    *ngIf="email.touched && !email.valid " >Please Enter the Email ID                      
                        <div *ngIf="email.errors?.pattern">
                            ** Please Enter the Appropriate Email ID
                        </div>
          
                    </div>
                </div>


                <br>

                <button [disabled]="!f.valid" class="btn btn-outline-success">Submit</button>

            </form>  
            </div>

        </div>

</div>